<footer class="py-4 bg-dark text-light">
  <div class="container text-center">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#">ホーム</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">藤野農園について</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">商品紹介</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">アクセス</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">お問合せ</a>
      </li>
    </ul>
    <p>
      <small>Copylight &copy;2022 藤野農園, All Rights Reserved.</small>
    </p>
  </div>
</footer>
