<footer class="footer_bg py-4 text-light">
  <div class="container text-center">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-white" href="/">ホーム</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">このアプリについて</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">出店一覧</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">お問合せ</a>
      </li>
    </ul>
    <p>
      <a class="h3 text-light text-decoration-none" href="/">PearSales</a>
    </p>
  </div>
</footer>
