<header class="py-4">
    <div class="px-3 py-2 bg-white text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <%= image_tag "logo.png" %>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopus="true" aria-expanded="false">出店者様はこちらから</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">新規登録</a>
                  <a class="dropdown-item" href="#">ログイン</a>
                  <a class="dropdown-item" href="#">ログアウト</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopus="true" aria-expanded="false">売上情報</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">新規作成</a>
                  <a class="dropdown-item" href="#">一覧</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopus="true" aria-expanded="false">お客さま情報</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">新規作成</a>
                  <a class="dropdown-item" href="#">一覧</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopus="true" aria-expanded="false">予約情報</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">新規作成</a>
                  <a class="dropdown-item" href="#">一覧</a>
                </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="px-3 py-2 bg-dark border-bottom mb-3">
      <div class="container d-flex flex-wrap justify-content-center">
        <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li class="nav-item active">
              <a href="#" class="nav-link text-white">HOME</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white">このサイトについて</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white">出店一覧</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white">アクセス</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white">お問合せ</a>
            </li>
          </ul>

        <div class="text-end">
          <button type="button" class="btn btn-light text-dark me-2">Login</button>
          <button type="button" class="btn btn-danger me-2">Logout</button>
          <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
      </div>
    </div>
  </header>

